.header_container{
    padding: 10px 150px;
}
.proj_container{
    padding: 15px 150px;
    background-color: rgb(209, 209, 209);
}
section{
    padding: 30px 0;
}
div{
    margin: 0;
    padding: 0;
}
/* header */

.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.btn-danger{
    width: 100px;
}

/* main */
.main_block{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 35px;
    font-weight: 700;
}
.left_blocks{
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.left_blocks .text{
    font-size: 55px;
}
.btn-primary{
    width: 100px;
}
h2{
    display: flex;
}

.info_block{
    z-index: 5;
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
}

.info_items{
    display: flex;
    justify-content: space-between;
}

.info_item{
    padding-left: 15px;
}


/* card */

.card_item{
    background-color: white;
    border-radius: 10px;
    margin: 0 15px;
}

.header_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form */

.form-control{
    width: 475px;
    margin: 15px 0;
    
}

.form_block{
    display: flex;
    justify-content: space-between;
}

.images{
    display: flex;
}

.cards{
    display: flex;
    justify-content: space-between;
}


footer{
    display: flex;
    justify-content: space-between;
}

.footer_nav{
    display: flex;
    flex-direction: column;
}